system:
  redis: "redis://redis:6379/0" # Link to redis database. No need to change this when using provided docker compose file.
  production: true # Run in production mode.
receiver: # Receiver address, you can add multiple ethereum addresses.
  - "0x332De1aFBCf704E4005A803158c1d58696005BC2"
chain: # Watching chain. You can add multiple EVM compatible chains.
  - id: 11155111 # Chain's ID, see https://chainlist.org .
    rpc: "https://rpc.sepolia.org" # JSON RPC endpoint of target chain.
    interval: 10s # Query interval, this should be a little larger than the common block interval of this chain.
    includeNative: true # Watch native token transfer events. You can disable this if you only want to watch ERC20 token transfer events.
    contractWhitelist: # Specify watching ERC20 contract whitelist. Leave empty to watch every ERC20 token transaction.
      - "0xcb7729f2b44ae7b86d58bb8068f0ead8fcf9378c"
webhooks: # Target webhook URL, you can add multiple webhooks here.
  - ""
